.main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .addBtn {
    background-color: rgb(179, 212, 255);
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    position: relative;
    top: 14%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 900px) {
    .addBtn {
      left: 50%;
      top: 14%;
    }
  }
}
